body {
  background-color: #7166ee;
}

.slideshow {
  width: 95%;
  margin: auto;
  padding: 3.7em 0;

  .slideshow__identificator {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "barriecito", cursive;

    .slideshow__numeration,
    .slideshow__language {
      font-size: 152px;
      text-transform: uppercase;
    }

    .slideshow__dot {
      font-size: 52px;
    }
  }

  .slideshow__information {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    flex-direction: column;

    .slideshow__hello {
      font-family: "barriecito", cursive;
    }

    .slideshow__paragraph {
      width: 50%;
      font-weight: 500;
      font-size: 18px;
    }

    .slideshow__button {
      border-top: 2px solid #0a0a0a;
      border-bottom: 2px solid #0a0a0a;
      font-size: 22px;
      font-weight: 500;
      z-index: 10;
      text-transform: uppercase;
      transition: 150ms;
    }
  }

  .slideshow__changeSlide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5em;

    .slideshow__slide {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #0a0a0a;
      z-index: 5; /* if menu it's active, then we need to remove the z-index out of here */
    }
  }
}

.slideshow__slide.active {
  background-color: #0a0a0a;
}

@media (max-width: 768px) {
  .slideshow {
    width: 100%;
    margin: auto;
    padding: 5em 0;

    .slideshow__identificator {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "barriecito", cursive;

      .slideshow__numeration,
      .slideshow__language {
        font-size: 52px;
        text-transform: uppercase;
      }

      .slideshow__dot {
        font-size: 16px;
      }
    }
  }
  .slideshow__information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .slideshow__hello {
      font-family: "barriecito", cursive;
    }

    .slideshow__paragraph {
      font-size: 16px;
      text-align: justify;
    }

    .slideshow__button {
      border-top: 2px solid #0a0a0a;
      border-bottom: 2px solid #0a0a0a;
      font-size: 22px;
      font-weight: 500;
      z-index: 10;
      text-transform: uppercase;
      transition: 150ms;
    }
  }
}
