.blogs {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 0 0 2.5%;
  gap: 28em;
}
.blogs .blogs__information {
  display: flex;
  flex-direction: column;
  gap: 5.5em;
}
.blogs .blogs__headline {
  font-size: 92px;
  text-transform: uppercase;
}
.blogs .blogs__text {
  font-size: 32px;
  width: 220px;
}
.blogs .blogs__warning {
  text-transform: uppercase;
  font-weight: 500;
}
.blogs .blogs__carousel {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.blogs .blogs__carousel::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.blogs .blogs__carousel .carousel__wrapper {
  display: flex;
  gap: 10em;
  scroll-snap-type: mandatory;
  cursor: grab;
}
.blogs .blogs__carousel .carousel {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 3.5em;
  border-right: 1px solid rgb(165, 165, 165);
  scroll-snap-align: start;
  z-index: 2;
}
.blogs .blogs__carousel .carousel .carousel__number {
  font-size: 72px;
  text-align: end;
  color: rgb(165, 165, 165);
}
.blogs .blogs__carousel .carousel .carousel__image {
  width: 300px;
  height: 300px;
  align-self: flex-end;
}
.blogs .blogs__carousel .carousel .carousel__title {
  font-size: 22px;
}
.blogs .blogs__carousel .carousel .carousel__text {
  text-align: justify;
}
.blogs .carousel__special {
  margin-top: 60px;
}

@media (max-width: 768px) {
  .blogs {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    position: relative;
    top: 14em;
  }
  .blogs .blogs__information {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
  }
  .blogs .blogs__headline {
    font-size: 52px;
    text-transform: uppercase;
  }
  .blogs .blogs__text {
    font-size: 26px;
    width: 240px;
  }
  .blogs .blogs__warning {
    text-transform: uppercase;
    font-weight: 500;
  }
  .blogs .blogs__carousel {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .blogs .blogs__carousel::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .blogs .blogs__carousel .carousel__wrapper {
    display: flex;
    gap: 10em;
    scroll-snap-type: mandatory;
    cursor: grab;
  }
  .blogs .blogs__carousel .carousel {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 3.5em;
    border-right: 1px solid rgb(165, 165, 165);
    scroll-snap-align: start;
  }
  .blogs .blogs__carousel .carousel:nth-child(2) {
    color: red;
  }
  .blogs .blogs__carousel .carousel .carousel__number {
    font-size: 72px;
    text-align: end;
    color: rgb(165, 165, 165);
  }
  .blogs .blogs__carousel .carousel .carousel__image {
    width: 300px;
    align-self: flex-end;
  }
  .blogs .blogs__carousel .carousel .carousel__title {
    font-size: 22px;
  }
  .blogs .blogs__carousel .carousel .carousel__text {
    text-align: justify;
  }
  .blog__list {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
  }
  .blog__list .blog__item {
    text-transform: uppercase;
  }
}
.blog__list {
  display: flex;
  gap: 3px;
}
.blog__list .blog__item {
  text-transform: uppercase;
}/*# sourceMappingURL=blogs.css.map */