:root {
  --bg: #e5e3dc;
  --link-color: #e2e2dc;
  --overlay-bg: #0a0a0a;
}

@font-face {
  src: url("../Roslindale_Web/fonts/Roslindale-DisplayCondensedSemiBold-Testing.woff") format("woff");
  font-family: "Roslindale";
  font-style: normal;
  font-weight: 500;
}
@font-face {
  src: url("../Roslindale_Web/fonts/Roslindale-DisplayCondensedRegular-Testing.woff") format("woff");
  font-family: "Roslindale";
  font-style: normal;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roslindale", sans-serif;
}

.navbar__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

svg path {
  fill: var(--overlay-bg);
}

#toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  z-index: 2;
  cursor: pointer;
}

.navbar__buttonOutline {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid var(--overlay-bg);
}

.navbar__buttonOutline--1 {
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  animation: morph 4s linear infinite;
}

.navbar__buttonOutline--2 {
  border-radius: 53% 47% 43% 57%/51% 39% 61% 49%;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
#hamburger {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 12;
}
#hamburger span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 1.25px;
  background: var(--overlay-bg);
  transition: transform 0.25s;
}
#hamburger span::before {
  position: absolute;
  right: 0;
  display: inline-block;
  content: "";
  width: 18px;
  height: 1.25px;
  background-color: #e2e2dc;
  transform: translateY(-4px);
  transition: transform 0.25s;
}
#hamburger.active span {
  transform: rotate(45deg);
}
#hamburger.active span::before {
  top: unset;
  width: 24px;
  transform: rotate(-90deg);
}

.navbar__menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
}
.navbar__menu > div {
  height: 100%;
  display: flex;
}
.navbar__menu a {
  position: relative;
  top: 120px;
  line-height: 70%;
  text-decoration: none;
  color: var(--link-color);
}
.navbar__menu a span {
  font-size: 20px;
  margin-right: 2em;
}

.menu__item {
  position: relative;
}
.menu__item::after {
  content: "";
  position: absolute;
  top: 100px;
  left: -20px;
  width: 120%;
  height: 200%;
  background-color: var(--overlay-bg);
  margin: 0 auto;
}

.menu__container {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--overlay-bg);
}

.menu__primary {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay-bg);
}
.menu__primary .menu__container .menu__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__primary a {
  font-size: 125px;
  text-transform: uppercase;
  font-weight: 500;
}
.menu__primary .menu__item:nth-child(2) a,
.menu__primary .menu__item:nth-child(4) a {
  margin-left: 1em;
}

@media (max-width: 768px) {
  .navbar__menu {
    height: 100%;
    flex-direction: column;
    justify-content: start;
  }
  .navbar__menu > div {
    flex-direction: column;
  }
  .navbar__menu a {
    position: relative;
    line-height: 70%;
    text-decoration: none;
    color: var(--link-color);
  }
  .navbar__menu a span {
    font-size: 20px;
    margin-right: 1em;
  }
  .menu__primary {
    flex: 1;
    margin-top: 0px;
  }
  .menu__primary a {
    font-size: 52px;
  }
  .menu__primary .menu__item:nth-child(2) a,
  .menu__primary .menu__item:nth-child(4) a {
    margin-left: 0;
  }
}/*# sourceMappingURL=hamburger.css.map */