:root {
  --bg: #e5e3dc;
  --link-color: #e2e2dc;
  --overlay-bg: #0a0a0a;
}

@font-face {
  src: url("../Roslindale_Web/fonts/Roslindale-DisplayCondensedSemiBold-Testing.woff")
    format("woff");
  font-family: "Roslindale";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url("../Roslindale_Web/fonts/Roslindale-DisplayCondensedRegular-Testing.woff")
    format("woff");
  font-family: "Roslindale";
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roslindale", sans-serif;
  background-color: #e5e3dc;
  color: #0a0a0a;
}

#toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  z-index: 2;
  cursor: pointer;
}

.menu-open {
  color: #0a0a0a;
}

.menu-open,
.menu-close {
  width: 10%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 40px;
  font-size: 20px;
  cursor: pointer;
}

.menu-close {
  display: none;
}

.navbar__socials {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 40px 100px;
}

.navbar__link {
  text-transform: uppercase;
  margin: 0 20px;
  letter-spacing: 0px;
}

.navbar__hamburgerOpened {
  position: fixed;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #e5e3dc;
  z-index: 150;
  color: #0a0a0a;
}

.menu__item {
  position: relative;
  padding: 0 6vw;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
}

.menu__link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: opacity 0.4s;
}

.menu__link::before {
  all: initial;
  counter-increment: menu;
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
}

.menu__link:hover {
  transition-duration: 0.1s;
  opacity: 0;
}

.menu {
  padding: 10vh 0 25vh;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  font-size: 7vw;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: rgb(165, 165, 165);
  pointer-events: none;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  opacity: 0;
  transition: all 0.1s;
  transform: translateX(60px);
}

.menu__link:hover ~ .marquee .marquee__inner {
  opacity: 1;
  transform: translateX(0px);
  transition-duration: 0.4s;
}

.menu__link,
.marquee span {
  white-space: nowrap;
  font-size: 7vw;
  padding: 0 1vw;
  line-height: 1.15;
}

.marquee span {
  font-style: italic;
}

#toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  z-index: 2;
  cursor: pointer;
}

.navbar__buttonOutline {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #0a0a0a;
}

.navbar__buttonOutline--1 {
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  animation: morph 4s linear infinite;
}

.navbar__buttonOutline--2 {
  border-radius: 53% 47% 43% 57%/51% 39% 61% 49%;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

#hamburger {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 12;
}

#hamburger span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 2px;
  background: #0a0a0a;
  transition: transform 0.25s;
}

#hamburger span::before {
  position: absolute;
  right: 0;
  display: inline-block;
  content: "";
  width: 18px;
  height: 2px;
  background-color: #e2e2dc;
  transform: translateY(-4px);
  transition: transform 0.25s;
}

#hamburger.active span {
  transform: rotate(45deg);
}

#hamburger.active span::before {
  top: unset;
  width: 24px;
  transform: rotate(-90deg);
}
